@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #fafafa;
}

.tela2,
form,
.top-side,
.create-quiz,
.create-question,
.create-level,
.create-finish,
.inputs,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* TOPO */
.top-side {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;
}

/* INPUTS */
.inputs input {
  padding: 0px 20px;
  width: 564px;
  height: 46px;
  border-radius: 5px;
  margin-bottom: 9px;
  outline: none;
  border: 1px solid #d1d1d1;
}

.inputs input::placeholder {
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  color: #bababa;
}

/* TELA 3.1 */

.create-quiz,
.create-question,
.create-level,
.create-finish {
  align-items: center;
  margin-top: 150px;
}
.create-finish {
  align-items: center;
  margin-top: 50px;
}

.create-quiz {
  width: 1050px;
}

.create-quiz form {
  width: 612px;
}

.create-quiz h2 {
  font-weight: 700;
  font-size: 23px;

  margin-bottom: 27px;
}

.create-quiz .inputs {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 612px;

  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000000d;
}

.create-quiz .inputs input {
  width: 564px;
}

.next-questions {
  cursor: pointer;
  width: 370px;
  height: 54px;
  margin-top: 85px;
  border-radius: 15px;

  font-size: 21px;
  font-weight: 400;

  border: none;
  color: #fff5f4;
  background-color: #ec362d;
}

.next-questions:hover {
  transform: scale(1.01);
  transition: all 100ms ease-out;
  background-color: #962923;
}

.hidden {
  display: none;
}

/* TELA 3.2 */

.question,
.level,
.corret-answer,
.incorret-answer {
  display: flex;
  flex-direction: column;
}

.create-question {
  width: 1050px;
}

.create-question form {
  width: 612px;
}

.inputs.open.quest {
  width: 612px;
}

.inputs.closed {
  width: 612px;
}

.create-question h2 {
  font-weight: 700;
  font-size: 23px;

  margin-bottom: 36px;
}

.create-question .inputs {
  padding: 0 24px 24px 24px;
  align-items: initial;

  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000000d;
}

/* input aberto */
.open {
  margin-bottom: 24px;
}
.open h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
  margin-top: 28px;
}

.incorret-answer .margin {
  margin-bottom: 32px;
}

/* input fechado */
.create-question .closed {
  width: 612px;
  height: 74px;
  padding: 0 24px;
  margin-bottom: 22px;
  box-shadow: 0px 0px 10px 0px #0000000d;
}

.closed .edit-question {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
}

.closed h3 {
  font-size: 20px;
}

.edit-question button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.next-levels {
  cursor: pointer;
  width: 354px;
  height: 54px;
  margin: 81px 0;

  border-radius: 15px;

  font-size: 21px;
  font-weight: 400;

  border: none;
  color: #fff5f4;
  background-color: #ec362d;
}

.next-levels:hover {
  transform: scale(1.01);
  transition: all 100ms ease-out;
  background-color: #962923;
}

/* TELA 3.3 */

.create-level h2 {
  font-weight: 700;
  font-size: 23px;

  margin-bottom: 36px;
}

.create-level .inputs {
  padding: 0 24px 24px 24px;
  align-items: initial;

  /* margin-bottom: 24px; */

  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000000d;
}

.create-level .closed {
  width: 612px;
  height: 74px;
  padding: 0 24px;
  margin-bottom: 22px;
  box-shadow: 0px 0px 10px 0px #0000000d;
}

.closed .edit-level {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
}

.edit-level button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.finish-quiz {
  cursor: pointer;
  width: 325px;
  height: 54px;
  margin-top: 75px;
  border-radius: 15px;

  font-size: 21px;
  font-weight: 400;

  border: none;
  color: #fff5f4;
  background-color: #ec362d;
}

.finish-quiz:hover {
  transform: scale(1.01);
  transition: all 100ms ease-out;
  background-color: #962923;
}

/* TELA 3.4 */

.create-finish h2 {
  font-weight: 700;
  font-size: 23px;
}

.finish {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin-top: 46px;
  height: 266px;
  width: 100%;
}

.finish img {
  position: relative;
}

.finish h3 {
  display: flex;
  width: 420px;
  height: 48px;
  position: absolute;
  font-size: 23px;
  font-weight: 400;
  left: 17px;
  bottom: 0;
  z-index: 1;
  color: #ffffff;
  word-break: break-word;
  overflow-y: hidden;
}
.sombra {
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.1%,
    #000000 100%
  );
  position: absolute;
  border-radius: 5px;
  z-index: 1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.accessquiz {
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 21px;

  height: 44px;
  width: 221px;
  border-radius: 15px;

  color: #fff5f4;
  background-color: #ec362d;
}

.btn.backhome {
  cursor: pointer;
  height: 44px;
  width: 219px;
  margin-bottom: 40px;

  font-size: 21px;
  color: #818181;
}

.btn.accessquiz:hover {
  transform: scale(1.01);
  transition: all 100ms ease-out;
  background-color: #962923;
}

@media (max-width: 585px) {
  .create-quiz {
    width: 100%;
  }

  .create-quiz form {
    width: 100%;
  }

  .create-quiz .inputs {
    width: 100%;
  }
  .create-quiz .inputs input {
    width: 100%;
  }

  .create-question {
    width: 100%;
  }

  .create-question form {
    width: 100%;
  }

  .inputs input {
    width: 100%;
  }

  .inputs.open.quest {
    width: 100%;
  }

  .inputs.closed {
    width: 100%;
  }
}
