@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.top-side {
  /* position: fixed;
  left: 0;
  top: 0; */
  width: 100%;
  height: 69px;
  background-color: #ec362d;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.banner {
  height: 227px;
  width: 100%;

  margin-bottom: 70px;

  background-color: blue;
}

.container {
  height: 400px;

  background-color: purple;
}

.quizzes {
}

/* .quiz {} */
