@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #e7e7e7;
}

main {
  display: flex;
  justify-content: center;
}

.top-side,
.banner,
.container,
.choices,
.top-quiz,
.quiz-score,
.btnrestarquiz,
.btnbackhome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-side {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;
}

.banner {
  margin-top: 69px;
  height: 227px;
}

.banner img {
  position: absolute;
}

.banner h2 {
  position: relative;
  font-size: 39px;
  font-weight: 400;

  color: #ffffff;
}

.container {
  flex-direction: column;
  margin-top: 55px;
}

.top-quiz {
  height: 137px;
  margin-bottom: 20px;

  background-color: #434ca0;
}

.top-quiz,
.quiz-score h4 {
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
}

.quiz {
  width: 760px;
  height: 650px;
  padding: 25px 34px;
  margin-bottom: 42px;

  background-color: #ffffff;
}

.choices {
  flex-wrap: wrap;
  justify-content: space-between;
}

.choices img,
p {
  cursor: pointer;
}

.choices p {
  margin-top: 10px;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.bot-quiz {
  width: 760px;
  height: 430px;
  padding: 25px 34px;
  margin-bottom: 42px;

  background-color: #ffffff;
}

.quiz-score {
  height: 99px;
  margin-bottom: 20px;

  background-color: #ec362d;
}

.quiz-result {
  display: flex;
  justify-content: space-between;

  font-size: 19px;
  font-weight: 700;
}

.img-result {
  margin-right: 21px;
}

.btnrestarquiz {
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 21px;

  height: 52px;
  width: 260px;
  border-radius: 15px;

  color: #fff5f4;
  background-color: #ec362d;
}

.btnbackhome {
  cursor: pointer;
  height: 44px;
  width: 219px;
  margin-bottom: 40px;

  font-size: 21px;
  color: #818181;
}
