@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #e7e7e7;
}

.top-side {
  /* position: fixed;
  left: 0;
  top: 0; */
  width: 100%;
  height: 69px;
  background-color: #ec362d;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.banner {
  height: 150px;
  width: 100%;

  background-color: blue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 42px;
}

.top-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  margin-bottom: 20px;

  background-color: #434ca0;
}

.top-quiz h4 {
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
}

.quiz {
  width: 760px;
  height: 650px;
  padding: 25px 34px;
  margin-bottom: 42px;

  background-color: #ffffff;
}

.choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.choices p {
  margin-top: 10px;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
