@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #fafafa;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-side {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;
}

.top-side,
.screen,
.createQuizz,
.boxes-quizz,
.description,
.btncreatequizz,
.top-quiz,
.quiz-score,
.btn,
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen.one {
  width: 1050px;
  flex-direction: column;
}

.createQuizz {
  flex-direction: column;
  margin-top: 146px;
  margin-bottom: 77px;
  width: 100%;
  height: 180px;
  border: 2px dashed rgba(212, 212, 212, 1);
}

.allQuizz {
  width: 100%;
}

.box-quiz {
  border-radius: 5px;
  position: relative;
  width: 340px;
  height: 181px;
  margin-bottom: 14px;
  cursor: pointer;
}

.box-quiz img {
  opacity: 1;
  width: 100%;
  border-radius: 5px;
}
.box-quiz span {
  position: absolute;
  left: 18px;
  bottom: 7px;
}

.boxes-quizz {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btncreatequizz {
  margin-bottom: 33px;
  width: 136px;
  height: 40px;

  font-size: 21px;
  color: #ec362d;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  cursor: pointer;
}
.description {
  color: #b9b9b9;
  text-align: center;
  width: 250px;
  height: 107px;
  font-weight: 400;
  font-size: 20px;
}
.title {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.sombra {
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.1%,
    #000000 100%
  );
  position: absolute;
  border-radius: 5px;
  z-index: 1;
}
/* JUNÇÂO DOS 2 CSS*/
.banner .sombra {
  height: 227px;
  border-radius: 0;
}
.banner {
  position: relative;
  margin-top: 69px;
  height: 227px;
  width: 100%;
}

.banner img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.banner h2 {
  position: relative;
  font-size: 39px;
  font-weight: 400;
  z-index: 1;
  color: #ffffff;
}

.container {
  flex-direction: column;
  margin-top: 55px;
}

.top-quiz {
  height: 137px;
  margin-bottom: 20px;

  background-color: #434ca0;
}

.top-quiz,
.quiz-score h4 {
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
}

.quiz {
  width: 760px;
  height: 650px;
  padding: 25px 34px;
  margin-top: 42px;

  background-color: #ffffff;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choices img,
p {
  cursor: pointer;
}

.choices p {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 329px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  overflow-y: hidden;
  height: 20px;
}

.bot-quiz {
  width: 760px;
  height: 430px;
  padding: 25px 34px;
  margin-top: 42px;

  background-color: #ffffff;
}

.quiz-score {
  height: 99px;
  margin-bottom: 20px;

  background-color: #ec362d;
}

.quiz-result {
  display: flex;
  justify-content: space-between;

  font-size: 19px;
  font-weight: 700;
}

.img-result {
  margin-right: 21px;
}

.btn.restarquiz {
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 21px;

  height: 52px;
  width: 260px;
  border-radius: 15px;

  color: #fff5f4;
  background-color: #ec362d;
}

.btn.backhome {
  cursor: pointer;
  height: 44px;
  width: 219px;
  margin-bottom: 40px;

  font-size: 21px;
  color: #818181;
}

.screen.two {
  width: 100%;
  flex-direction: column;
  background-color: #e4e0e05e;
}

.hidden {
  display: none;
}
